@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Libre Baskerville", sans-serif;
}

*:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.container-detail .container-fluid-detail {
  display: flex;
  width: 1360px;
  margin-top: 60px;
}
.container-detail .container-fluid-detail .left {
  position: relative;
}
.container-detail .container-fluid-detail .left .image-detail {
  position: relative;
}
.container-detail .container-fluid-detail .left .image-detail .image-large {
  width: 475px;
  height: 560px;
  position: relative;
}
.container-detail .container-fluid-detail .left .image-detail .button-box {
  width: 152px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7545);
  position: absolute;
  margin-left: 16px;
  bottom: 16px;
  transition: 0.1s;
}
.container-detail .container-fluid-detail .left .image-detail .button-box button {
  display: inline-flex;
  padding: 15px;
  gap: 14px;
  border: none;
  background: transparent;
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2.143px;
  cursor: pointer;
}
.container-detail .container-fluid-detail .left .image-detail .button-box button img {
  width: 12px;
  height: 12px;
  color: #FFF;
}
.container-detail .container-fluid-detail .left .image-detail .button-box:hover {
  background-color: rgba(255, 255, 255, 0.2522);
}
.container-detail .container-fluid-detail .left .image-detail .artist {
  width: 128px;
  height: 128px;
  position: absolute;
  margin-left: 30px;
  bottom: -64px;
}
.container-detail .container-fluid-detail .left .name-author-large-format {
  width: 445px;
  height: 302px;
  position: absolute;
  background-color: #fff;
  margin-left: 410px;
  top: -2px;
}
.container-detail .container-fluid-detail .left .name-author-small-format {
  width: 445px;
  height: 174px;
  position: absolute;
  background-color: #fff;
  margin-left: 410px;
  top: -2px;
}
.container-detail .container-fluid-detail .left .name-and-author {
  width: 445px;
  height: 238px;
  background-color: #fff;
  margin-left: 410px;
  position: absolute;
  top: -2px;
}
.container-detail .container-fluid-detail .left .title-detail {
  width: 320px;
  height: 128px;
  color: #000;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  margin-left: 65px;
  margin-bottom: 24px;
}
.container-detail .container-fluid-detail .left .title-detail-short-text {
  width: 280px;
}
.container-detail .container-fluid-detail .left .title-detail-long-text {
  width: 380px;
}
.container-detail .container-fluid-detail .left .subtitle-detail {
  position: absolute;
  width: 246px;
  height: 19px;
  color: #7D7D7D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-left: 65px;
  bottom: 67px;
}
.container-detail .container-fluid-detail .right {
  position: relative;
  margin-left: 450px;
}
.container-detail .container-fluid-detail .right .year-detail {
  width: 476px;
  height: 150px;
  color: #F3F3F3;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 150px;
  position: absolute;
}
.container-detail .container-fluid-detail .right .p-detail {
  width: 350px;
  color: #7D7D7D;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 100px;
  position: absolute;
}
.container-detail .container-fluid-detail .right .p-detail .price {
  font-size: 16px;
  color: #252525;
}
.container-detail .container-fluid-detail .right .p-detail .shopping-cart {
  width: 150px;
  height: 60px;
  display: inline-flex;
  justify-items: center;
  align-items: center;
}
.container-detail .container-fluid-detail .right .p-detail .shopping-cart button {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border: none;
  border-radius: 20px;
  color: #7D7D7D;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.929px;
  cursor: pointer;
}
.container-detail .container-fluid-detail .right .p-detail .shopping-cart button:hover {
  background-color: #dadada;
}

.footer {
  display: grid;
  margin-top: 75px;
}
.footer .footer-section {
  height: 96px;
  display: grid;
  grid-template-columns: 400px auto 200px;
}
.footer .footer-section .title-artist-footer {
  grid-column-start: 1;
  padding: 25px 40px 25px 41px;
}
.footer .footer-section .title-artist-footer .title-footer {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.footer .footer-section .title-artist-footer .artist-footer {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
}
.footer .footer-section .pagination-buttons {
  grid-column-start: 3;
  text-align: center;
  padding: 26px 40px 36px 41px;
}
.footer .footer-section .pagination-buttons span {
  font-size: 40px;
}
.footer .footer-section .pagination-buttons .prev-page {
  border: none;
  background: transparent;
  cursor: pointer;
}
.footer .footer-section .pagination-buttons .prev-page:hover {
  color: #D8D8D8;
}
.footer .footer-section .pagination-buttons .next-page {
  border: none;
  background: transparent;
  cursor: pointer;
}
.footer .footer-section .pagination-buttons .next-page:hover {
  color: #D8D8D8;
}

@media screen and (max-width: 375px) {
  .container-detail {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 0;
    margin: 24px;
  }
  .container-detail .container-fluid-detail {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    height: 900px;
    margin: 0;
    gap: 64px;
    padding: 0;
  }
  .container-detail .container-fluid-detail .left .image-detail {
    position: relative;
    left: 20px;
  }
  .container-detail .container-fluid-detail .left .image-detail .image-large {
    width: 327px;
    height: 280px;
    position: relative;
    left: 0;
  }
  .container-detail .container-fluid-detail .left .image-detail .button-box {
    top: 16px;
  }
  .container-detail .container-fluid-detail .left .image-detail .artist {
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    left: 16px;
    bottom: -155px;
  }
  .container-detail .container-fluid-detail .left .name-author-large-format {
    width: 280px;
    height: 133px;
    position: absolute;
    margin-left: 0;
    top: 240px;
  }
  .container-detail .container-fluid-detail .left .name-author-small-format {
    width: 280px;
    height: 104px;
    position: absolute;
    margin-left: 0;
    top: 240px;
  }
  .container-detail .container-fluid-detail .left .name-and-author {
    width: 280px;
    height: 104px;
    position: absolute;
    margin-left: 10px;
    margin-top: 254px;
  }
  .container-detail .container-fluid-detail .left .title-detail {
    width: 232px;
    height: 29px;
    font-size: 24px;
    margin-left: 48px;
    margin-top: 24px;
  }
  .container-detail .container-fluid-detail .left .subtitle-detail {
    width: 232px;
    height: 19px;
    margin-left: 48px;
    bottom: 24px;
  }
  .container-detail .container-fluid-detail .left .subtitle-detail-bottom {
    bottom: 0;
  }
  .container-detail .container-fluid-detail .right {
    position: relative;
    max-width: 350px;
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .container-detail .container-fluid-detail .right .year-detail {
    max-width: 238px;
    height: 100px;
    position: absolute;
    font-size: 100px;
    left: 125px;
    margin-top: 0;
  }
  .container-detail .container-fluid-detail .right .p-detail {
    width: 327px;
    margin-top: 80px;
    margin-left: 24px;
  }
  .footer {
    display: grid;
    margin-top: 120px;
    padding: 24px;
  }
  .footer .footer-section {
    height: 72px;
    display: grid;
    grid-template-columns: 170px auto 100px;
  }
  .footer .footer-section .title-artist-footer {
    padding: 0;
  }
  .footer .footer-section .title-artist-footer .title-footer {
    font-size: 14px;
  }
  .footer .footer-section .title-artist-footer .artist-footer {
    font-size: 10px;
  }
  .footer .footer-section .pagination-buttons {
    padding: 0;
  }
  .footer .footer-section .pagination-buttons span {
    font-size: 30px;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .container-detail {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
  .container-detail .container-fluid-detail {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 1150px;
    margin: 0;
    gap: 64px;
  }
  .container-detail .container-fluid-detail .left .image-detail {
    position: relative;
  }
  .container-detail .container-fluid-detail .left .image-detail .artist {
    margin-top: 0;
    margin-left: 30px;
    bottom: 200px;
  }
  .container-detail .container-fluid-detail .left .image-detail .artist-large-format {
    margin-top: 0;
    margin-left: 30px;
    bottom: 135px;
  }
  .container-detail .container-fluid-detail .left .image-detail .artist-small-format {
    margin-top: 0;
    margin-left: 30px;
    bottom: 260px;
  }
  .container-detail .container-fluid-detail .left .name-author-large-format {
    width: 445px;
    height: 302px;
    position: absolute;
    margin-left: 243px;
    top: -2px;
  }
  .container-detail .container-fluid-detail .left .name-author-small-format {
    width: 445px;
    height: 174px;
    position: absolute;
    margin-left: 243px;
    top: -2px;
  }
  .container-detail .container-fluid-detail .left .name-and-author {
    margin-left: 243px;
  }
  .container-detail .container-fluid-detail .right {
    position: relative;
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .container-detail .container-fluid-detail .right .p-detail {
    width: 457px;
    margin-top: 75px;
    margin-left: 115px;
  }
}/*# sourceMappingURL=common.css.map */