.container-contact-us {
  display: flex;
}
.container-contact-us .contact-us-form {
  border: none;
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px;
}
.container-contact-us .contact-us-form .contact-us-left {
  margin-right: 50px;
}
.container-contact-us .contact-us-form .contact-us-left input {
  display: flex;
  flex-direction: column;
}
.container-contact-us .contact-us-form .contact-us-left form input, .container-contact-us .contact-us-form .contact-us-left textarea {
  width: 400px;
  height: 100px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 16px;
}
.container-contact-us .contact-us-form .contact-us-left textarea::-moz-placeholder {
  padding-top: 20px;
}
.container-contact-us .contact-us-form .contact-us-left textarea::placeholder {
  padding-top: 20px;
}
.container-contact-us .contact-us-form .contact-us-left button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}
.container-contact-us .contact-us-form .contact-us-left button:hover {
  background-color: #f0f0f0;
}
.container-contact-us .contact-us-form .modal-contact-us {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}
.container-contact-us .contact-us-form .modal-contact-us .close-modal-contact-us {
  width: 90px;
  margin-bottom: 20px;
  margin-left: 270px;
  color: white;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
}
.container-contact-us .contact-us-form .modal-contact-us .close-modal-contact-us:hover {
  opacity: 0.5;
  text-decoration: none;
}
.container-contact-us .contact-us-form .modal-contact-us .modal-contact-us-content {
  width: 300px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
}
.container-contact-us .contact-us-form .contact-us-right {
  display: grid;
  grid-template-rows: 200px auto;
}
.container-contact-us .contact-us-form .contact-us-right .details-1 {
  margin: 20px 50px 20px 0;
}
.container-contact-us .contact-us-form .contact-us-right .details-1 p {
  color: #666666;
}
.container-contact-us .contact-us-form .contact-us-right .details-2 {
  display: grid;
  grid-template-rows: 4;
}
.container-contact-us .contact-us-form .contact-us-right .details-2 div {
  display: flex;
}
.container-contact-us .contact-us-form .contact-us-right .details-2 span {
  font-size: 40px;
  padding-right: 15px;
}

@media screen and (max-width: 375px) {
  .container-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-contact-us .contact-us-form {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  .container-contact-us .contact-us-form .contact-us-left {
    display: flex;
    flex-direction: column;
  }
  .container-contact-us .contact-us-form .contact-us-left input,
  .container-contact-us .contact-us-form .contact-us-left textarea {
    max-width: 300px;
  }
  .container-contact-us .contact-us-form .contact-us-right {
    display: flex;
    flex-direction: column;
  }
  .container-contact-us .contact-us-form .contact-us-right div {
    gap: 30px;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .container-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-contact-us .contact-us-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
    margin-bottom: 50px;
  }
  .container-contact-us .contact-us-form .contact-us-left {
    display: flex;
    flex-direction: column;
  }
  .container-contact-us .contact-us-form .contact-us-left input,
  .container-contact-us .contact-us-form .contact-us-left textarea {
    max-width: 350px;
  }
  .container-contact-us .contact-us-form .contact-us-right {
    display: flex;
    flex-direction: column;
  }
  .container-contact-us .contact-us-form .contact-us-right div {
    gap: 30px;
  }
}/*# sourceMappingURL=contact-us.css.map */