header {
    padding: 40px;
    display: grid;

   .container {
    display: grid;
    grid-template-columns: 200px auto 700px;
    align-items: center;
    justify-items: center;
    // overflow: hidden;
    position: relative;

        .menu-box {
            display: flex;
            align-items: center;
            gap: 30px;
            
            li {
                display: inline-block;
            }

            .product-list {
                width: 260px;
                background-color: white;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                position: absolute;
                padding-left: 0;
                z-index: 1;
                
                li {
                    margin: 4px;
                }
            }
        }

        a {
            color: #333333;
            text-decoration: none;
            cursor: pointer;
        }

        .dropdown {
            background-color: #fff;
            display: flex;
            position: absolute;
            right: 20px;
        }

        .site-logo {
            width: 170px;
            height: 48px;
        }

        .search {
            width: max-content;
            display: flex;
            align-items: center;
            padding: 12px;
            border-radius: 28px;
            background-color: #f6f6f6;
            transition: box-shadow 0.25s;

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
            }

            .search-input {
                font-size: 14px;
                color: #333333;
                outline: none;
                border: none;
                background: transparent;
                width: 200px;
                position: relative;
            }
        }

        .search:focus-within {
            box-shadow: 0 0 2px black;
        }
    } 
}

.rectangle {
    // display: flex;
    // width: auto;
    height: 1px;
    background-color: #E5E5E5;
    margin-left: 40px;
    margin-right: 40px;
}

//mobile
@media screen and (max-width: 375px) {

header {
    padding: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;

        .site-logo {
            display: flex;
            align-items: center;
            justify-self: left;

            img {
                width: 113px;
                height: 32px;
            }
        }

        .menu-box {
            display: none;
            padding-left: 0;
            margin: 0;
            margin-top: 25px;

            .search-input {
                width: 100px;
            }
        }

        ul {
            display: block;
        }

        .dropdown {
            background-color: #fff;
            background: transparent;
            // display: flex;
            position: absolute;
            right: 10px;
            top: 10px;

            .toggle-btn {
                position: absolute;
                right: 10px;
            }
        }
    }
}

    .rectangle {
        // max-width: 370px;
        margin-left: 0;
        margin-right: 0;

    }
}

//tablet
@media screen and (min-width: 376px) and (max-width: 768px) {
    header {
        padding: 23px;
        display: flex;
        align-items: center;
        max-width: 90%;
    
        .container {
            max-width: 90%;
            // display: flex;
            position: relative;
            box-sizing: border-box;
            align-items: center;

            .site-logo {
                display: flex;
                align-items: center;
                justify-self: left;
    
                img {
                    width: 113px;
                    height: 32px;
                }
            }
            
            ul {
                display: block;
            }

            .menu-box {
                display: none;
                padding-left: 0;
                margin: 0;
                margin-top: 25px;

                .search-input {
                    width: 100px;
                }
            }

            .dropdown {
                background-color: #fff;
                background: transparent;
                // display: flex;
                // position: absolute;
                right: 20px;
                top: 10px;
    
                .toggle-btn {
                    position: absolute;
                    right: 30px;
                }
            }
        }
    }

    .rectangle {
        // max-width: 80vh;
        margin-left: 0;
        margin-right: 0;
    }
}


// desktop
@media screen and (min-width: 769px) {
    .toggle-btn {
        display: none;
    }

    .dropdown {
        display: none;
    }

}