.container-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-forms {
  width: 1300px;
  height: 700px;
  border: none;
  display: grid;
  grid-template-columns: auto auto;
  margin: 40px;
}
.login-register-forms .login,
.login-register-forms .register {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}
.login-register-forms .login form input,
.login-register-forms .register form input {
  width: 500px;
  height: 100px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 16px;
}
.login-register-forms .login button,
.login-register-forms .register button {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.login-register-forms .login .login-button-box,
.login-register-forms .register .login-button-box {
  width: 130px;
  margin: 50px 0;
}
.login-register-forms .login .register-button,
.login-register-forms .register .register-button {
  margin: 30px 0;
}
.login-register-forms .login button:hover,
.login-register-forms .register button:hover {
  background-color: #f0f0f0;
}
.login-register-forms .login a,
.login-register-forms .register a {
  text-decoration: none;
  color: blue;
}
.login-register-forms .login .forgot-password,
.login-register-forms .register .forgot-password {
  padding-right: 50px;
  margin-top: 20px;
  text-align: end;
}
.login-register-forms .login .forgot-password .forgot-password-button,
.login-register-forms .register .forgot-password .forgot-password-button {
  width: 180px;
}
.login-register-forms .login .modal-container,
.login-register-forms .register .modal-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}
.login-register-forms .login .modal-container .modal-close-button,
.login-register-forms .register .modal-container .modal-close-button {
  width: 90px;
  margin-bottom: 20px;
  margin-left: 270px;
  color: white;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
}
.login-register-forms .login .modal-container .modal-close-button:hover,
.login-register-forms .register .modal-container .modal-close-button:hover {
  opacity: 0.5;
  text-decoration: none;
}
.login-register-forms .login .modal-container .modal-content,
.login-register-forms .register .modal-container .modal-content {
  width: 350px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
}
.login-register-forms .login .modal-container .modal-content .input-forgot-password,
.login-register-forms .register .modal-container .modal-content .input-forgot-password {
  width: 280px;
  height: 50px;
  margin: 15px;
}
.login-register-forms .login .modal-container .modal-content .close-reset-email,
.login-register-forms .login .modal-container .modal-content .close-login-error,
.login-register-forms .register .modal-container .modal-content .close-reset-email,
.login-register-forms .register .modal-container .modal-content .close-login-error {
  margin-top: 20px;
}
.login-register-forms .login .checkbox-terms,
.login-register-forms .register .checkbox-terms {
  margin-top: 20px;
}
.login-register-forms .login .error,
.login-register-forms .login .valid,
.login-register-forms .login .error-required,
.login-register-forms .register .error,
.login-register-forms .register .valid,
.login-register-forms .register .error-required {
  display: none;
  margin: 15px;
}
.login-register-forms .login .error,
.login-register-forms .login .error-required,
.login-register-forms .register .error,
.login-register-forms .register .error-required {
  color: red;
}
.login-register-forms .login .valid,
.login-register-forms .register .valid {
  color: green;
}

.logout-message,
.success-login {
  margin-top: 50px;
}
.logout-message .logout-button-box,
.logout-message .success-login-box,
.success-login .logout-button-box,
.success-login .success-login-box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.logout-message .logout-button-box p,
.logout-message .success-login-box p,
.success-login .logout-button-box p,
.success-login .success-login-box p {
  text-align: center;
  margin-top: 20px;
}
.logout-message .logout-button-box .logout-button,
.logout-message .success-login-box .logout-button,
.success-login .logout-button-box .logout-button,
.success-login .success-login-box .logout-button {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 50px 0;
}
.logout-message .logout-button-box .logout-button:hover,
.logout-message .success-login-box .logout-button:hover,
.success-login .logout-button-box .logout-button:hover,
.success-login .success-login-box .logout-button:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 375px) {
  .login-register-forms {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0;
  }
  .login-register-forms .login,
  .login-register-forms .register {
    font-size: 12px;
    max-width: 300px;
    margin: 20px;
  }
  .login-register-forms form input {
    font-size: 12px;
    max-width: 280px;
    max-height: 50px;
  }
  .login-register-forms .forgot-password {
    display: flex;
  }
  .login-register-forms .login-button,
  .login-register-forms .register-button {
    font-size: 12px;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .login-register-forms {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0;
  }
  .login-register-forms .login,
  .login-register-forms .register {
    width: 550px;
    margin: 20px;
  }
  .login-register-forms form input {
    max-width: 500px;
    max-height: 70px;
  }
  .login-register-forms .forgot-password {
    display: flex;
  }
}/*# sourceMappingURL=my-account.css.map */